.movie-page-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: var(--discoverColumnPadding);
    max-width: var(--maxPrimaryPageWidth);
    padding: 0 2rem;
    align-items: start;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar {
    height: fit-content;
    margin: 5.1rem 0 0 0;
    width: 100%;
  }
  
  .movies {
    width: 99%;
    margin: 4.8rem 0 0 0;
  }
  


  