.movie-list {
    display: grid;
    grid-template-columns: repeat(var(--numberOfDiscoverColumns), 1fr);
    gap: var(--discoverColumnPadding);
    max-width: var(--maxPrimaryPageWidth);
    margin: 4.8rem 1.5rem 0 1rem;
    grid-auto-rows: 1fr;
  }

  .card {
    background: var(--main-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
