.rating-circle {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--rating-bg);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  margin-top: -1.25rem;
  transform: translateX(0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .rating-circle svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  }
  
  .rating-text {
    font-size: 0.75rem;
  font-weight: bold;
  color: white;
  z-index: 2;
  pointer-events: none;
  }
  
  .rating-text span {
    font-size: 0.75rem;
  }
  
  .rating-text sup {
    font-size: 0.5rem;
    vertical-align: super;
  }
  
  .rating-text sup {
    font-size: 0.5em;
    vertical-align: super;
  }